@font-face {
  font-family: San-r;
  src: url('./font/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: San-t;
  src: url('./font/SourceSansPro-Light.ttf');
}
@font-face {
  font-family: San-b;
  src: url('./font/SourceSansPro-Bold.ttf');
}
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
}
:root{
--grey-2:#3c3f45;
--grey-1:#646464;
--grey-3:#484848;
--orange : #F6830F;
}
.blur{
  background-color: rgba(253, 120, 43, 1);
  position:absolute;
  border-radius: 50%;
  filter: blur(150px);
  z-index: -9;
}
.App{
  mix-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  font-family: San-r;
  letter-spacing: 0.09rem;
  background-color: var(--grey-1);
}
::-webkit-scrollbar{
  display: none;
}
.stroke-text{
  color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

