.Programs{
    display: flex;
    gap:2rem;
    padding: 0 2rem;
    flex-direction: column;
}
.programs-header{
    display: flex;
    justify-content: center;
    gap: 5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
    font-style: italic;
}
.stroke-text-2{
    -webkit-text-stroke-width: 0.1px;
    color: transparent;
    -webkit-text-stroke-color: white;
}
.programs-categories{
 display: flex;
 width: 100%;
 gap: 0.7rem;

}
.categorie{
  width:24%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1.5rem 2rem 0.5rem;
  background-color: rgba(164, 164, 164, 0.702);
}
.categorie > img{
    width: 25%;
}
.categorie > span:nth-of-type(1){
    color: white;
    font-family: San-b;
    font-size: 1.1rem;
}
.categorie > span:nth-of-type(2){
    color: white;
    font-family: San-r;
    font-size: 0.9rem;
    font-weight: 400;
}
.categorie > div{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1rem;
    width: 100%;
    font-family: San-b;
    justify-content: space-between;
}
.categorie > div > img{
    width: 1.5rem;
}
.categorie:hover{
    background: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(255,218,0,1) 0%, rgba(255,178,0,1) 25%, rgba(255,138,0,1) 50%, rgba(255,102,0,1) 75%);
}

/* media */
@media screen and (max-width: 768px){
    
.programs-header{
flex-direction: column;
gap: 1rem;
font-size: x-large;
align-items: center;
justify-content: center;
margin-top: 1rem;
}
.programs-header > .stroke-text-2{
    font-size: 1.8rem;
}
.programs-categories{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.categorie{
    width: 80%;
}
}